@use "../../styles/theme" as *;

.productCard {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 15px;
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
  }
}

.productImg {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px 0;
}

.title {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 8px;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.buyButton {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: rgba(0, 123, 255, 0.9); // Fallback to a slightly darker color
  }
}
