@use "../../styles/index" as *;

.navbar {
  background-color: #1976d2;
  padding: 0 20px;

  .logo {
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
  }

  .navLinks {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .navItem {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: $border-radius;
    transition: background 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &.active {
      background: white;
      color: var(--primary-color);
    }
  }

  .menuIcon {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.mobileMenu {
  width: 250px;
  padding: 20px;
  background: var(--background-color);
  height: 100%;
  box-shadow: $shadow;

  .closeButton {
    float: right;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    padding: 10px;
    display: block;
    border-radius: $border-radius;
    transition: background 0.3s;

    &:hover {
      background: var(--primary-color);
      color: white;
    }
  }
}
