@use "../../styles/index" as *;

.footer {
  background-color: #1976d2;
  color: #ccc;
  text-align: center;
  padding: 16px 0;
  margin-top: auto;
  box-shadow: $shadow;
}

.copyright {
  font-size: 14px;
  opacity: 0.8;
}
