@use "../../styles/theme" as *;

.productsContainer {
  padding: 20px;
  background-color: var(--background-color);
}

.title {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}
